 <head>
  <style>
    .hide {
      display: none;
    }
        
   
    .myDIV:hover + .hide + .hide{
      display: block;
      color: red;
    }
   

  </style>
</head> 

<a class="myDIV">GeeksforGeeks</a>


{% for product in collections.frontpage.products limit:4 %}
    <div class="hide">
      <a href="{{ product.url | within: collection }}">{{ product.title }}</a>cle
      {{ product.price | money }}
      {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
      <a href="{{ product.url | within: collection }}">
        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
      </a>
    </div>
  {% endfor %}

